.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background-color: rgba(46, 49, 49, 1);
	box-shadow: 2px 2px 20px rgb(221, 221, 221);
	overflow-Y: auto;
	color: #fff;
	transform: translate(-100%);
	transition: all 0.5s ease;
	opacity: 0;

	h2 {
		padding: 2rem;
		color: #fff;
	}
}

.library-song {
	display: flex;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	transition: all 0.5s ease;
	img {
		width: 30%;
	}
	&:hover {
		background-color: rgb(64, 64, 64);
	}
}

.song-description {
	padding-left: 1rem;

	h3 {
		font-size: 1.1rem;
		color: #fff;
	}
	h4 {
		font-size: 0.8rem;
		color: #b0b0b0;
	}
}

.selected {
	background-color: rgb(32, 32, 32);
}
.active-library {
	transform: translate(0%);
	opacity: 1;
}