.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background-color: rgba(46, 49, 49, 1);
	box-shadow: 2px 2px 50px rgb(204, 204, 204);
	overflow: scroll;
	color: #fff;

	h2 {
		padding: 2rem;
		color: #fff;
	}
	h3 {
		color: #fff;
	}
}

.library-songs {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem 2rem 1rem 2rem;
	color: #fff;
	img {
		width: 20%;
	}
}
